[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
colorama = "*"
mysql-connector-python = "*"
redis = "*"
pymongo = "*"

[requires]
python_version = "3.7"
